    /* products css */
#product-cards{
  margin-bottom: 80px !important;
}
.home-card {
      position: relative;
      height: 350px;
      background-color: white;
      margin: 20px 10px;
      box-shadow: 1px 1px 2px 1px rgba(0,0, 0, 0.5);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      transform: translateY(5px);
    }
    .home-card:hover {
      transform: translateY(-10px);
      box-shadow: 3px 6px 15px rgba(0, 0, 0, 0.3);
      background: #dadee9;
    }
    .home-card.show {
      opacity: 1;
      transform: translateY(0);
      transition: transform 0.6s ease, opacity 0.6s ease;
    }
    .home-card img {
      width: 100%;
      height: 250px;
      transition: transform 0.5s ease, opacity 0.5s ease;
    }
    .home-card:hover img {
      transform: scale(1.05);
    }
    .home-card:hover .home-card-descrip {
      color: #007bff;
      /* text color change */
    }
    /* .home-hover-img {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
    .home-card:hover .home-card-img {
      opacity: 0;
    }
    .home-card:hover .home-hover-img {
      opacity: 1;
    } */

    .home-card-descrip {
      text-align: center;
      margin: 5px 0;
      font-size: 20px;
    }

    .card-prices {
      display: flex;
      justify-content: center;
      gap: 15px;
      font-size: 18px;
    }

    .duplicate-price {
      display: inline;
      font-size: 18px;
      text-decoration: line-through;
      color: rgb(206, 67, 67);
    }
    .cart-btn {
      display: block;
      margin: 0 auto;
      width: 70%;
      padding: 10px 5px !important;
      text-transform: capitalize;
    }
    /* download-icon css */
.download-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0; /* initially hidden */
    transition: opacity 0.3s ease;
    z-index: 10; /* ensure top layer */
}
.home-card:hover .download-icon {
    opacity: 1; /* show on hover */
}
    /* product css end  */