  /* detail-section css */
.detail-section {
            display: none;
            position: fixed;
            background-color: white;
            box-shadow: 1px 2px 2px black;
            top: 0;
            bottom: 0;
            z-index: 1000;
            width: 100%;
            height: 100%;
        }

        .active {
            display: inline;
        }

        .col {
            padding: 100px 0 0 0;
        }

        .col .title {
            text-transform: capitalize;
        }
        .col .desc {
    margin: 5px 40px 5px 0;
    text-transform: capitalize !important;
    white-space: normal;         /* allow automatic wrapping */
    word-wrap: break-word;       /* break long words */
    overflow-x: hidden;          /* hide horizontal overflow */
    overflow-y: auto;            /* scroll vertically if too long */
}


        .rating-box {
            margin: 20px 0;
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .rating-box .star {
            font-size: 30px;
            color: #ccc;
            text-align: center;
            cursor: pointer;
            transition: 0.3s;
        }

        .rating-box .star,
        .rating-box .star,
        .rating-box .star {
            color: #ffb400;
        }

        .rating-value {
            font-size: 18px;
            font-weight: 600;
            margin-left: 10px;
        }
       /* detail-section end */