        /* footer css */
        .footer {
            /* background: linear-gradient(to right, #9bc0bc, #9bc0bc, Lightgreen); */
            padding: 10px;
            background-color:  #2d1f18;
            margin-top: 50px;
            /* background-color: #0f172a; */
        }
        .foot-1 {
            text-transform: capitalize;
            padding: 5px 10px;
        }

        .foot-1 h1 {
            color: orange;
            text-transform: capitalize;
        }

        .foot-1 p {
            text-align: justify;
            font-weight: 400;
            color: gray;
        }

        .foot-links {
            padding: 15px;
            text-transform: capitalize;
            color: white;
        }

        .foot-links h3 {
            color: #fff;
            margin-left: 20px;
        }

        .foot-links ul {
            list-style: none;
        }

        .foot-links ul a {
            text-decoration: none;
            font-size: 22px;
            position: relative;
            transition: color 0.3s ease;
            line-height: 1.5;
            color: gray;
            /* font-weight: 450; */
        }

        .social-link {
            padding: 15px;
            text-transform: capitalize;
        }

        .social-link h3 {
            color: #fff;
        }

        .social-link p {
            /* margin:  10px; */
            text-align: justify;
            font-weight: 400;
            color: gray;
        }

        span a {
            margin: 0 12px;
            font-size: 24px;
            color: orange;
        }
        .footer-bottom {
            background-color: #2d1f18;
            height: 150px;
            text-align: center;
            /* background: linear-gradient(to right, #9bc0bc, #9bc0bc, Lightgreen); */
        }
        .footer-bottom p {
            font-weight: 500;
            color: gray;
        }
        @media (max-width: 500px) {
            .foot-links {
                padding: 0;
            }
        }
        .foot-links ul li a:hover{
            color: #fff;
        }
        /* footer css end */