        /* footer css */
        .footer {
            /* background: linear-gradient(to right, #9bc0bc, #9bc0bc, Lightgreen); */
            padding: 10px;
            margin-top: 50px;
    box-shadow: 10px 10px 10px 10px rgba(44, 44, 44, 0.5);
    font-size: 16px;
            /* background-color: #0f172a; */
        }
        .foot-1 {
            text-transform: capitalize;
            padding: 5px 10px;
        }

        .foot-1 h1 {
            color: orange;
            text-transform: capitalize;
            text-align: center;
             margin-bottom: 20px;
        }

        .foot-1 p {
            text-align: center;
            font-weight: 400;
            font-size: 16px;
            color: black;
            margin-top: 40px;
        }

        .foot-links {
            padding: 15px;
            text-transform: capitalize;
            margin-bottom: 20px;
        }

        .foot-links h3 {
            margin-left: 20px;
            margin-bottom: 20px;
        }

        .foot-links ul {
            list-style: none;
        }

        .foot-links ul a {
            text-decoration: none;
            font-size: 20px;
            margin: 100px 0 !important;
            position: relative;
            transition: color 0.3s ease;
            line-height: 2;
            font-weight: 300;
            color: black;
        }

        .social-link {
            padding: 15px;
            text-transform: capitalize;
        }
        .social-link p {
            /* margin:  10px; */
            text-align: justify;
            font-weight: 400;
            color: black;
        }

        span a {
            margin: 0 12px;
            font-size: 24px;
            color: black;
        }
        span a:hover{
            color: #198754;
        }
        .footer-bottom {
            height: 120px;
            text-align: center;
            /* background: linear-gradient(to right, #9bc0bc, #9bc0bc, Lightgreen); */
        }
        .footer-bottom p {
            font-weight: 500;
            color: black;
        }
        @media (max-width: 500px) {
            .foot-links {
                padding: 0;
            }
        }
        .foot-links ul li a:hover{
            color:#198754;
            border-bottom: 2px solid #198754;
        }
        /* footer css end */