        .footer {
            /* background: linear-gradient(to right, #9bc0bc, #9bc0bc, Lightgreen); */
            padding: 10px;
        }
        .foot-1 {
            text-transform: capitalize;
            padding: 5px 10px;
        }

        .foot-1 h1 {
            color: navy;
            text-transform: capitalize;
        }

        .foot-1 p {
            text-align: justify;
            font-weight: 400;
            color: rgb(39, 37, 37);
        }

        .foot-links {
            padding: 15px;
            text-transform: capitalize;
        }

        .foot-links h3 {
            color: navy;
            margin-left: 20px;
        }

        .foot-links ul {
            list-style: none;
        }

        .foot-links ul a {
            text-decoration: none;
            font-size: 22px;

            position: relative;
            transition: color 0.3s ease;
            line-height: 1.5;
            color: rgb(39, 37, 37);
            font-weight: 450;
        }

        .social-link {
            padding: 15px;
            text-transform: capitalize;
        }

        .social-link h3 {
            color: navy;
        }

        .social-link p {
            /* margin:  10px; */
            text-align: justify;
            font-weight: 400;
            color: rgb(39, 37, 37);
        }

        span a {
            margin: 0 12px;
            font-size: 24px;
        }

        .footer-bottom {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            text-align: center;
            /* background: linear-gradient(to right, #9bc0bc, #9bc0bc, Lightgreen); */
        }

        .footer-bottom p {
            font-weight: 500;
        }

        @media (max-width: 500px) {
            .foot-links {
                padding: 0;
            }
        }

        .foot-links ul li a::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -3px;
            /* text ke neeche underline ka gap */
            width: 0%;
            height: 2px;
            background: cyan;
            /* underline color */
            transition: width 0.4s ease;
        }

        .foot-links ul li a:hover {
            color: cyan;
            /* hover text color */
        }

        .foot-links ul li a:hover::after {
            width: 100%;
        }